<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.filmoteka">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".AddGenre"/>
        <activity android:name=".AddActor"/>
        <activity android:name=".AddProducer"/>
        <activity android:name=".FilmInfoEditor">
        </activity>
        <activity android:name=".SeriasInfoEditor">
        </activity>
        <activity
                android:name=".FilmInfo"
                android:label="@string/title_activity_film_info"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".SeriasInfo"/>
        <activity android:name=".AddCountry"/>
        <activity
                android:name=".MainActivitySerias"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".EditorActivity"/>
        <activity android:name=".EditorActivitySerias"/>
        <activity
                android:name=".MainActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts"/>
    </application>

</manifest>